.coronaVirus {
    border-radius: 50%;
    background: red;
    position: absolute;
}

.spike {
    /*border-radius: 50%;*/
    background: black;
    position: absolute;
    border-radius: 50%;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}